@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    --background: #f8f7f5;
    --foreground: #14120e;

    --primary: #968b6f;
    --secondary: #f0b100;
    --accent: #9393b0;
  }

  .dark {
    --background: #090806;
    --foreground: #f0eeea;

    --primary: #918669;
    --secondary: #ffbf0f;
    --accent: #4f4f6d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
